/* 
    Document   : main
    Created on : Nov 8, 2013, 12:28:40 PM
    Author     : Kevin
    Description:
        Purpose of the stylesheet follows.
*/

body {
    margin: 0;
    display: block;
}

/* header styles */
header {
    margin: 0;
    padding-bottom: 3%;
    background-color: #000000;
}

header img {
    height: 50%;
    width: 50%;
    margin: 0;
}

/* navagation styles */
nav {
   width: 50%;
   margin-left: 10%
}

#test {
    float: right;
    margin-right: 10%;
    width: 35%
}

nav ul {
    list-style: none;
}

nav ul li {
    color: #1133ff;
    float: left;
    margin: 1%;
    font-size: 150%;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:link {
    color: #1133ff;
    outline: none;
}

nav ul li a:visited {
    color: #1133ff;
    outline: none;
}

nav ul li a:hover{
    color: #3366ff;
    outline: none;
}

nav ul li a:active {
    color: #1133ff;
    outline: none;
}

/* search bar styles */

#searchForm {
    color: #eeeeee;
    margin-left: 6%;
}

#searchBar {
    padding-left: 1%;
    border: none;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

#submit {
    color: #eeeeee;
    background-color: #313131;
    padding: .25% .5%;
    border: none;
    cursor: pointer;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

/* button styles */
.button {
   margin: 1% 0 0 8%;
}

/* shopping cart styles */
img#shopping_cart {
    height: 8%;
    width: 8%;
    margin: 8% 20% 0 0;
    float: right;
}

/* login / create account styles */
#login_links {
    margin: 3% 0 0 7%;
}

#login_links a {
    color: #eeeeee;
    margin-left: 3%;
    font-size: 105%;
    text-decoration: none;
}

#login_links a:link {
    color: #eeeeee;
    outline: none;
}

#login_links a:visited {
    color: #eeeeee;
    outline: none;
}

#login_links a:hover {
    color: #1133ff;
    outline: none;
}

#login_links a:active {
    color: #eeeeee;
    outline: none;
}

/* main section styles */
section {
    min-height: 40em;
    background-color: #a1a1a1;
    -moz-box-shadow: inset 0px 0px 2px 3px #818181;
    -webkit-box-shadow: inset 0px 0px 2px 3px #818181;
    box-shadow: inset 0px 0px 2px 3px #818181;
}

/* index article styles */
#indexArticle_1 {
    padding-bottom: 10%;
    width: 40%;
    background-color: #a1a1a1;
    margin: 0 0 0 10%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#indexArticle_2 {
    min-height: 20em;
    width: 30%;
    background-color: #717171;
    margin-left: 20em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* index aside styles */
#indexAside {
    margin-right: 5%;
    width: 40%;
    background-color: #a1a1a1;
    float: right;
}

#indexAside #warmfest_shot {
    height: 100%;
    width: 100%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 1px 1px 1px 2px #818181;
    -webkit-box-shadow: 1px 1px 1px 2px #818181;
    box-shadow: 1px 1px 1px 2px #818181;
}

#indexAside #warmfest_shot_2 {
    height: 90%;
    width: 90%; 
    margin:  0 0 1% 5%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 1px 1px 1px 2px #818181;
    -webkit-box-shadow: 1px 1px 1px 2px #818181;
    box-shadow: 1px 1px 1px 2px #818181;
}

#indexArticle_1 #warmfest_shot_3 {
    height: 100%;
    width: 100%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 1px 1px 1px 2px #818181;
    -webkit-box-shadow: 1px 1px 1px 2px #818181;
    box-shadow: 1px 1px 1px 2px #818181;
}

#photo_credit {
    text-align: right;
    font-size: 77%;
}

/* contact article styles */
#contactArticle {
    width: 40%;
    background-color: #a1a1a1;
    margin: 5em auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#contactArticle form label {
   display: block;
   margin-top: 1%;
   letter-spacing: .15em;
   font-variant: small-caps;
}

#contactArticle form input, #contactArticle form textarea {
    width: 74%;
    height: 10%;
    background: #efefef;
    border: 1px solid #dedede;
    padding: 1%;
    margin-top: .25%;
    font-size: .9em;
    color: #3a3a3a;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

#contactArticle form input#contact_submit {
    width: 10em;
    height: 2em;
    border: none;
    margin: 4% 0 0 25%;
    cursor: pointer;
}

#contact_verify {
    width: 40%;
    background-color: #a1a1a1;
    margin: 5em auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* footer styles */

footer {
    background-color: #000000;
    min-height: 10em;
}

footer p {
    margin: 0;
    color: #1133ff;
    text-align: center;
    padding-top: 4em;
}

/* artist page styles */
section#artist_section {
    min-height: 40em;
    background-color: #a1a1a1;
    -moz-box-shadow: inset 0px 2px 5px  #515151;
    -webkit-box-shadow: inset 0px 2px 5px  #515151;
    box-shadow: inset 0px 2px 5px  #515151;
}

#artistAside {
    margin: 0 5%;
    padding: 1% 0 65% 0;
    width: 90%;
    background-color: #a1a1a1;
}

#image_set {
    float: left;
    width: 12%;
    height: 175px;
}

.artist_page_image {
    width: 88%;
    height: 60%;
    margin-left: 1em;
}

#artist_line_item {
    margin: 0 5%;
    padding-left: 2%;
    text-align: center;
}

#artist_line_item a {
    color: #ffffff;
    text-decoration: none;
}

#artist_line_item a:link {
    color: #ffffff;
    outline: none;
}

#artist_line_item a:visited {
    color: #ffffff;
    outline: none;
}

#artist_line_item a:hover {
    color: #1133ff;
    outline: none;
}

#artist_line_item a:active {
    color: #ffffff;
    outline: none;
}

/* artist detail page styles */
#artistdetails_section{
    background-color: #a1a1a1;
    -moz-box-shadow: inset 0px 2px 5px #515151;
    -webkit-box-shadow: inset 0px 2px 5px #515151;
    box-shadow: inset 0px 2px 5px #515151;
}

#artistDetailsArticle {
    width: 40%;
    background-color: #a1a1a1;
    margin-left: 20%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#detail_group {
    float: left;
    margin: 0 2% 0 0;
    height: 25%;
    width: 25%;
}

.artist_detail_image {
    width: 100%;
    height: 100%
}

#artist_details_aside {
    margin-right: 5%;
    width: 30%;
    background-color: #a1a1a1;
    float: right;
}

#artist_details_aside ul {
    list-style: none;
}

#artist_details_aside ul li {
    color: #dedede;
    display: block;
    width: 20%;
    float: left;
}

#artist_details_aside ul li#artist {
    margin-left: 5%;
}

#artist_details_aside ul li#date {
    font-size: 105%;
}

#artist_details_aside ul li#artist, #artist_details_aside ul li#venue_name  {
    margin-right: 1%
    
}

#artist_details_aside ul li a {
    color: #dedede;
    text-decoration: none; 
}

#artist_details_aside ul li a:link {
    color: #dedede;
    outline: none;
}

#artist_details_aside ul li a:visited {
    color: #dedede;
    outline: none;
}

#artist_details_aside ul li a:hover {
    color: #1133ff;
    outline: none;
}

#artist_details_aside ul li a:active {
    color: #dedede;
    outline: none;
}

/* venue styles */
section#venue_section {
    min-height: 40em;
    background-color: #a1a1a1;
    -moz-box-shadow: inset 0px 2px 5px  #515151;
    -webkit-box-shadow: inset 0px 2px 5px  #515151;
    box-shadow: inset 0px 2px 5px  #515151;
}

#venueAside {
    margin: 0 auto;
    padding: 1em 0 16em 0;
    min-height: 40em;
    width: 66%;
    background-color: #a1a1a1;
}

#venue_set {
    float: left;
    width: 33%;
    height: 8em;
    
}

#venue a {
    color: #dddddd;
    text-decoration: none;
}

#venue a:link {
    color: #dddddd;
    outline: none;
}

#venue a:visited {
    color: #dddddd;
    outline: none;
}

#venue a:hover {
    color: #1133ff;
    outline: none;
}

#venue a:active {
    color: #dddddd;
    outline: none;
}

/* #venue details styles */
#venuedetails_section {
    min-height: 35em;
    background-color: #a1a1a1;
    -moz-box-shadow: inset 0px 2px 5px #515151;
    -webkit-box-shadow: inset 0px 2px 5px #515151;
    box-shadow: inset 0px 2px 5px #515151;
}

#venueDetailsArticle {
    min-height: 40em;
    width: 40%;
    background-color: #a1a1a1;
    margin-left: 10%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#venue_details_aside {
    margin-right: 5%;
    width: 40%;
    background-color: #a1a1a1;
    float: right;
}

#venue_details_aside ul {
    list-style: none;
}

#venue_details_aside ul li {
    color: #dedede;
    display: block;
    width: 30%;
    float: left;
}

#venue_details_aside ul li#artist {
    margin-left: 5%;
}

#venue_details_aside ul li#date {
    font-size: 105%;
}

#venue_details_aside ul li#artist, #venue_details_aside ul li#venue_name  {
    margin-right: 1%
    
}

#venue_details_aside ul li a {
    color: #dedede;
    text-decoration: none; 
}

#venue_details_aside ul li a:link {
    color: #dedede;
    outline: none;
}

#venue_details_aside ul li a:visited {
    color: #dedede;
    outline: none;
}

#venue_details_aside ul li a:hover {
    color: #1133ff;
    outline: none;
}

#venue_details_aside ul li a:active {
    color: #dedede;
    outline: none;
}

/* Login Styles */
#loginAside {
    color: #eeeeee;
    width: 35%;
    float: right;
    margin-right: 15%;
    padding: 0 0 5% 5%;
    border-left: 1px solid #eeeeee;
}

#loginArticle {
    color: #eeeeee;
    width: 35%;
    margin-left: 15%;   
}

#loginAside form label, #loginArticle form label {
    color: #3a3a3a;
    display: block;
    font-size: 110%;
}

#loginArticle form label {
    display: block;
    font-size: 110%;
}

#loginAside form input, #loginArticle form input {
    width: 74%;
    height: 10%;
    background: #efefef;
    border: 1px solid #dedede;
    padding: 1%;
    margin-top: .25%;
    font-size: .9em;
    color: #3a3a3a;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

#loginAside form input#login_create, #loginArticle form input#login_submit {
    width: 15%;
    margin-left: 10%;
    cursor: pointer;
}

/* Shows Styles */
#shows_article {
    min-height: 20em;
    width: 48%;
    background-color: #a1a1a1;
    margin-left: 10%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#shows_aside {
    margin-right: 10%;
    width: 35%;
    background-color: #a1a1a1;
    float: right;
}

#shows_aside img {
    height: 100%;
    width: 100%;
}

#shows_article ul {
    list-style: none;
}

#shows_article ul li {
    color: #dedede;
    display: block;
    width: 20%;
    float: left;
}

#shows_article ul li#artist {
    margin-left: 5%;
}

#shows_article ul li#date {
    font-size: 105%;
}

#shows_article ul li#artist, #shows_article ul li#venue_name  {
    margin-right: 1%
    
}

#shows_article ul li a {
    color: #dedede;
    text-decoration: none; 
}

#shows_article ul li a:link {
    color: #dedede;
    outline: none;
}

#shows_article ul li a:visited {
    color: #dedede;
    outline: none;
}

#shows_article ul li a:hover {
    color: #1133ff;
    outline: none;
}

#shows_article ul li a:active {
    color: #dedede;
    outline: none;
}




