/* 
    Document   : main
    Created on : Nov 8, 2013, 12:28:40 PM
    Author     : Kevin
    Description:
        Purpose of the stylesheet follows.
*/

body {
    margin: 0;
    display: block;
}

/* header styles */
header {
    margin: 0;
    background-color: #000000;
    min-height: 13em;
}

header img {
    height: 50%;
    width: 50%;
    margin: 0;
}

/* navagation styles */
nav {
   float: right; 
   width: 40%;
}

nav ul {
    list-style: none;
}

nav ul li {
    color: #1133ff;
    float: left;
    margin: 1%;
    font-size: 1.5em;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:link {
    color: #1133ff;
    outline: none;
}

nav ul li a:visited {
    color: #1133ff;
    outline: none;
}

nav ul li a:hover{
    color: #3366ff;
    outline: none;
}

nav ul li a:active {
    color: #1133ff;
    outline: none;
}

/* search bar styles */

#searchForm {
    padding-left: 6.5em;
}

#searchBar {
    padding-left: .5em;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

#submit {
    color: #999999;
    background-color: #313131;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

/* shopping cart styles */
img#shopping_cart {
    height: 50px;
    width: 50px;
    margin-top: 1em;
    margin-right: 3em;
    float: right;
    
}

/* main section styles */
section {
    min-height: 40em;
    background-color: #a1a1a1;
    -moz-box-shadow: inset 0px 5px 10px  #919191;
    -webkit-box-shadow: inset 0px 5px 10px  #919191;
    box-shadow: inset 0px 5px 10px  #919191;
}

/* index article styles */
#indexArticle_1 {
    min-height: 20em;
    width: 30%;
    background-color: #a1a1a1;
    margin: 0 0 2em 13em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#indexArticle_2 {
    min-height: 20em;
    width: 30%;
    background-color: #717171;
    margin-left: 13em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* index aside styles */
#indexAside {
    margin-top: 1em;
    margin-right: 13em;
    min-height: 40em;
    width: 30%;
    background-color: #717171;
    float: right;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* contact article styles */
#contactArticle {
    min-height: 30em;
    width: 40%;
    background-color: #717171;
    margin: 5em auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* footer styles */

footer {
    background-color: #000000;
    min-height: 10em;
}

footer p {
    margin: 0;
    color: #1133ff;
    text-align: center;
    padding-top: 4em;
}

/* artist page styles */
section#artist_section {
    min-height: 40em;
    background-color: #a1a1a1;
    -moz-box-shadow: inset 0px 2px 5px  #515151;
    -webkit-box-shadow: inset 0px 2px 5px  #515151;
    box-shadow: inset 0px 2px 5px  #515151;
}

.artist_page_image {
    width: 150px;
    height: 100px;
    margin-left: 1em;
}

#image_set {
    float: left;
    width: 170px;
    height: 175px;
}

#artistAside {
    margin: 0 auto;
    padding: 1em 0 15em 0;
    min-height: 40em;
    width: 80%;
    background-color: #a1a1a1;
}

#artist_line_item {
    margin: 0 1em;
    text-align: center;
    font-size: 1em;
    
}

#artist_line_item a {
    color: #ffffff;
    text-decoration: none;
}

#artist_line_item a:link {
    color: #ffffff;
    outline: none;
}

#artist_line_item a:visited {
    color: #ffffff;
    outline: none;
}

#artist_line_item a:hover {
    color: #1133ff;
    outline: none;
}

#artist_line_item a:active {
    color: #ffffff;
    outline: none;
}

/* venue styles */
section#venue_section {
    min-height: 40em;
    background-color: #a1a1a1;
    -moz-box-shadow: inset 0px 2px 5px  #515151;
    -webkit-box-shadow: inset 0px 2px 5px  #515151;
    box-shadow: inset 0px 2px 5px  #515151;
}

#venueAside {
    margin: 0 auto;
    padding: 1em 0 16em 0;
    min-height: 40em;
    width: 75%;
    background-color: #a1a1a1;
}

#venue_set {
    float: left;
    width: 33%;
    height: 8em;
    
}

h3#venue {
    color: #ffffff;
}

/* artist details styles */
#venuedetails_section {
    min-height: 35em;
    background-color: #a1a1a1;
    -moz-box-shadow: inset 0px 2px 5px  #515151;
    -webkit-box-shadow: inset 0px 2px 5px  #515151;
    box-shadow: inset 0px 2px 5px  #515151; 
}

#venueDetailsArticle {
    min-height: 30em;
    width: 40%;
    background-color: #a1a1a1;
    margin: 0 auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* artist details styles */
#detail_group {
    float: left;
    margin: 0 1em 0 0;
}

